In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("twitter_dataset.csv",encoding ="latin1",header =None)

In [3]:
data.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
data[0].replace(to_replace=4,value=1,inplace =True)

In [5]:
data.drop(labels=[1,2,3,4],inplace=True,axis=1)

In [6]:
data.shape

(1600000, 2)

In [7]:
data.rename(columns ={0:'class',5:'tweet'},inplace=True)

In [8]:
data.sample(5)

         class                                              tweet
404188       0  @NadiaNV, Hahaha yesssss. LAL won cause Kobe's...
455346       0                  Shiiiit forgot my movies at home
806537       1  pretty sure I finished my ICTE, and it's only ...
736469       0                   I've had a crappy past few days
1090989      1  nowdays im listening to Selena Gomez's Cruella...

In [9]:
data["tweet"] = data["tweet"].apply(lambda x: x.lower())

In [10]:
data.sample(5)

         class                                              tweet
28559        0  @reallysketchyyy the problem is, i can't say i...
1188215      1                                   making pb toast
1081369      1  @j9naimoli lol &quot;cutting wood&quot;... i t...
1378127      1  @mattpro13 omg we should totally hang in bosto...
1495862      1  everyone needs to go get mitchel mussos new al...

In [14]:
import re

def remove_user_name(tweet):
    # Updated pattern to retain alphanumeric characters, spaces, and basic punctuation
    return re.sub(pattern=r'@[a-zA-Z0-9_]+|#[a-zA-Z0-9_]+|\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*|\d+|<("[^"]*"|\'[^\']*\'|[^\'">])*>|_+|[^\w\s.,!?]', 
                  repl="",
                  string=tweet
                 )

In [15]:
data["tweet"] = data["tweet"].apply(remove_user_name)

In [16]:
data.sample(5)

         class                                              tweet
427330       0   how hard is it for sum to actually talk to me?
1504785      1   i didnt like the idea of using a serviette on...
853092       1                                     drunnkk again
157264       0      asshole, rubbing it in that you finish early
104214       0  it is  degrees in my apartment.  why do things...

In [17]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Anurag\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [18]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid=SentimentIntensityAnalyzer()

In [19]:
data['scores']=data['tweet'].apply(lambda tweet:sid.polarity_scores(tweet))

In [21]:
data.head(5)

,class,tweet,scores
0,0,"awww, thats a bummer. you shoulda got davi...","{'neg': 0.167, 'neu': 0.833, 'pos': 0.0, 'comp..."
1,0,is upset that he cant update his facebook by t...,"{'neg': 0.303, 'neu': 0.697, 'pos': 0.0, 'comp..."
2,0,i dived many times for the ball. managed to s...,"{'neg': 0.0, 'neu': 0.814, 'pos': 0.186, 'comp..."
3,0,my whole body feels itchy and like its on fire,"{'neg': 0.321, 'neu': 0.5, 'pos': 0.179, 'comp..."
4,0,"no, its not behaving at all. im mad. why am i...","{'neg': 0.252, 'neu': 0.748, 'pos': 0.0, 'comp..."

In [23]:
data['compound']=data['scores'].apply(lambda d:d['compound'])

In [24]:
data.head()

,class,tweet,scores,compound
0,0,"awww, thats a bummer. you shoulda got davi...","{'neg': 0.167, 'neu': 0.833, 'pos': 0.0, 'comp...",-0.3818
1,0,is upset that he cant update his facebook by t...,"{'neg': 0.303, 'neu': 0.697, 'pos': 0.0, 'comp...",-0.7500
2,0,i dived many times for the ball. managed to s...,"{'neg': 0.0, 'neu': 0.814, 'pos': 0.186, 'comp...",0.4939
3,0,my whole body feels itchy and like its on fire,"{'neg': 0.321, 'neu': 0.5, 'pos': 0.179, 'comp...",-0.2500
4,0,"no, its not behaving at all. im mad. why am i...","{'neg': 0.252, 'neu': 0.748, 'pos': 0.0, 'comp...",-0.6597

In [26]:
data['comp_score']=data['compound'].apply(lambda score: 1 if score>=0 else 0)

In [27]:
data.sample(5)

,class,tweet,scores,compound,comp_score
573523,0,had my first cancellation for friday. lets hop...,"{'neg': 0.0, 'neu': 0.775, 'pos': 0.225, 'comp...",0.4404,1
1172606,1,getting new rugby jerseys for next years rugby...,"{'neg': 0.0, 'neu': 0.709, 'pos': 0.291, 'comp...",0.5707,1
888775,1,its pretty nice outside today,"{'neg': 0.0, 'neu': 0.333, 'pos': 0.667, 'comp...",0.7184,1
552364,0,"wahhhh, its seriously very noisy right now. i ...","{'neg': 0.316, 'neu': 0.684, 'pos': 0.0, 'comp...",-0.4005,0
921986,1,photo loove it,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,1

In [28]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [29]:
accuracy_score(data['class'],data['comp_score'])

0.659255625

In [30]:
print(classification_report(data['class'],data['comp_score']))

              precision    recall  f1-score   support

           0       0.80      0.43      0.56    800000
           1       0.61      0.89      0.72    800000

    accuracy                           0.66   1600000
   macro avg       0.70      0.66      0.64   1600000
weighted avg       0.70      0.66      0.64   1600000